{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block body %}
<h4 class="page-header">Cambio de contraseña</h4>
<div class="row col-md-8">
<form role="form" method="post" accept-charset="utf-8">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons submit='Cambiar clave' %}{% endbuttons %}
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
<script type="text/javascript">
  document.getElementById("id_old_password").focus();
</script>
{% endblock %}
